body{
    margin:0;
    background-color: rgb(249,249,249);
}

header{
    width:100%;
    background-image: url("images/header.jpg");
    background-size: cover;
    background-position: center;
    aspect-ratio: 5.8;
}

body > nav{
    display: flex;
    justify-content:space-between;
    width: 100%;
    align-items: center;
    font-weight: bold;
    border-bottom: 1px solid white;
    background: linear-gradient(rgba(0, 0, 0, 0.6),transparent);
    color: white;
    top:0;
    position:fixed;
    
}

body > nav.scrolled{
    color: black;
}

body > nav ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: stretch;
}
 
body > nav li{
    margin:0 10px;
    height: 100%;    
}

body > nav li:hover{
    border-bottom: 3px solid white;    
}

body > nav form{
    width: 50%;
}

body > nav input{
    width:100%;
    border-radius: 20px;
    padding: 15px;
}

body > nav button{
    border-radius: 20px;
    padding:10px;
}

body > nav div{
    padding:10px;
}

section{
    display: flex;
}

.barra-lateral{
    width: 30%;
    margin: -9% .5% 0% 2.5%;
    background-color: white;
    text-align: center;
    border-radius: 1%;
    border: 1px solid rgb(248,248,248);
    padding: 15px;
    overflow: visible;
    height: 100%;
}

.barra-lateral img{
    width: 100px;
    border-radius: 100%;
    margin: 20px 0 0;
}

.barra-lateral button{
    border-radius: 20px;
    padding:10px;
    width:90%;
    margin-bottom: 10px;
    border: none;
}

.gallery{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0% 2%;
}

.labels{
    width: 100%;
    aspect-ratio: 8;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.estandartes{
    width:20%;
    /*border: 1px solid black;*/
    align-self: stretch;
}

section nav{
    width:75%;
    aspect-ratio: 10;
    /*border: 1px solid black;*/
}

.grid-s{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    width: 100%;    
}


.grid{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    width: 100%;    
}

.grid-item{
    background-color: black;
    width:100%;
}

.grid img{
    width: 100%;
    aspect-ratio: 1;
    
}

.grid img:hover {
    transform: scale(1.2);   
}