body{
    margin:0;
    background-color: rgb(249,249,249);
}

header{
    width:100%;
    background-image: url("images/header.jpg");
    aspect-ratio: 5;

}

header > nav{
    display: flex;
    justify-content:space-between;
    width: 100%;
    align-items: center;
    font-weight: bold;
    border-bottom: 1px solid white;
    background: linear-gradient(rgba(0, 0, 0, 0.6),transparent);
    color: white;


}

header ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: stretch;
}

header li{
    margin:0 10px;
    height: 100%;    
}

header li:hover{
    border-bottom: 3px solid white;    
}

header form{
    width: 50%;
}

header input{
    width:100%;
    border-radius: 20px;
    padding: 15px;
}

header button{
    border-radius: 20px;
    padding:10px;
}

header div{
    padding:10px;
}

section{
    display: flex;
}

.barra-lateral{
    width: 25%;
    margin: -11% 2% 0% 10%;
    background-color: white;
    text-align: center;
    border-radius: 1%;
    border: 1px solid rgb(248,248,248);
    padding: 20px;
}

.barra-lateral img{
    border-radius: 100%;
    margin: 30px;
}



.gallery{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0% 2%;
}

.labels{
    width: 100%;
    aspect-ratio: 8;
    display:flex;
    justify-content: space-between;
    align-items: center;

}
.estandartes{
    width:20%;
    border: 1px solid black;
    align-self: stretch;
}


section nav{
    width:75%;
    aspect-ratio: 10;
    border: 1px solid black;
}

.grid{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    width: 100%;    
}

.grid-item{
    background-color: black;
    width:100%;
}

.grid img{
    width: 100%;
    aspect-ratio: 1;
}


